*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@media screen and (max-width: 500px) {
  body {
    border: 3px solid red;
    padding-bottom: 5rem;
  }
  #main-container {
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: auto;
    /* padding: 0 1rem; */
  }

  #nav {
    background-color: #3d9363;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1rem; */
    height: 7rem;
    margin-bottom: 2rem;
    z-index: 1;
    position: sticky;
    top: 0;
  }

  #logo {
    width: 7rem;
    border: 1px solid red;
  }

  #nav-items {
    display: flex;
    list-style: none;
  }

  li {
    padding: 0.625rem;
    margin-left: 0.625rem;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    position: relative;
  }

  li a {
    text-decoration: none;
    color: #382110;
    padding-bottom: 0.3125rem;
  }

  .current {
    border-bottom: 0.2rem solid #fff;
  }

  .header {
    border: 3px solid yellow;
    grid-column: 1/-1;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .book-review-header {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    /* margin: 1.5rem 0 0.5rem; */
  }

  .book-review-header h1 {
    font-size: 1.2rem;
  }

  .book-review-header .add-book-btn {
    width: 10rem;
    margin-left: auto;
    background-color: #3d9363;
    border-radius: 0.5rem;
    padding: 0.7rem 0.1rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  .single-card {
    margin-bottom: 3rem;
  }

  .single-card:last-of-type {
    margin-bottom: 0;
  }

  .single-card > img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 2rem;
  }
  
  .card-btn {
    background-color: #3d9363;
    border-radius: 0.7rem;
  }

  .back-btn {
    width: 10rem;
    background-color: #3d9363;
    border-radius: 0.7rem;
    margin-bottom: 1.5rem;
  }

  .detail-container {
    grid-column: 1/-1;
    /* height: auto; */
  }

  .book-detail {
    /* height: 100vh; */
    height: auto;
  }

  .book-detail > h1 {
    text-align: center;
  }

  .book-detail p {
    font-size: 1rem;
  }

  .book-detail p::first-letter {
    color: #3d9363;
    font-size: 1.3rem;
  }

  .signup-form, .login-form, .add-book-form {
    font-size: 1.5rem;
    grid-column: 1/-1;
    width: 100%;
    margin: 5rem auto;
    /* border: 1px solid #3d9363; */
  }

  .signup-form h1,
  .signup-form p,
  .login-form h1,
  .login-form p,
  .add-book-form h1,
  .add-book-form p {
    text-align: center;
  }


  .signup-form .form-control,
  .login-form .form-control,
  .add-book-form .form-control {
    outline: 1px solid #3d9363;
    border-radius: 0.2rem;
  }

  .signup-form .card-btn,
  .login-form .card-btn,
  .add-book-form .card-btn {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  
  .cover-image,
  .image-list {
    border: 1px solid red;
    width: 100%;
    height: 35rem;
    object-fit: contain;
    margin-bottom: 1.5rem;
    border-radius: .9rem;
  }

  .image-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    /* width: 100vw; */
    height: inherit;
    /* background-color: salmon; */
    justify-content: center;
  }
  
  .image-list-container img {
    margin: 0;
  }

  .image-list {
    height: 20rem;
    border: 2px solid blue;
    width: auto;
    margin: auto;
    /* clip-path: circle();
    object-fit: cover; */
  }

}
