*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@media screen and (max-width: 500px) {
  body {
    border: 3px solid red;
    height: 100vh;
  }
  #main-container {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    margin: auto;
    /* padding: 0 1rem; */
  }

  #nav {
    background-color: #3d9363;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1rem; */
    height: 7rem;
  }

  #logo {
    width: 7rem;
    border: 1px solid red;
  }

  #nav-items {
    display: flex;
    list-style: none;
  }

  li {
    padding: 0.625rem;
    margin-left: 0.625rem;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 600;
    position: relative;
  }

  li a {
    text-decoration: none;
    color: #382110;
    padding-bottom: 0.3125rem;
  }

  .current {
    border-bottom: 0.2rem solid #fff;
  }

  .header {
    border: 3px solid yellow;
    grid-column: 1/-1;
    /* display: flex; */
    /* flex-direction: column; */
  }

  .book-review-header {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    /* margin: 1.5rem 0 0.5rem; */
  }

  .book-review-header h1 {
    font-size: 1.2rem;
  }

  .book-review-header .add-book-btn {
    width: 10rem;
    margin-left: auto;
    background-color: #3d9363;
    border-radius: 0.5rem;
    padding: 0.7rem 0.1rem;
  }
}
